body{
  font-family: Helvetica;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}

href{
  color: #006cdf;
}

a:hover {
    text-decoration: none;
}


hr{
  border-color: #7ad7ff;
}

video {
    width: 75%;
    height: auto;
}

form{
  text-align: left;
}

ul{
  list-style: none;
}

.body-list li{
  padding-top: 0.75em;
  text-align: left;
}

th{
  text-align: left;
  padding-right: 10px;
}

.form-group{
  font-size: 1.2em;
}

.responsive{
  width: 100%;
  height: auto;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

@font-face {
    font-family: Orbitron;
    src: url("media/Orbitron-Medium.ttf");
}

.navbar-light{
  background-color: #f9f9f9;
  border-bottom: 2px solid #7ad7ff;
}

.dropdown-menu{
    background-color: #F8CA00;
    font-size: 20px;
}

.navbar-brand{
  font-family: Orbitron;
  font-size: 2.5em;
}

.navbar{
  padding-right: 0;
}

.navbar-toggler{
  margin-right: 10px;
}

.nav-item{
  font-size: 1.75em;
  padding-right: 10px;
}

.navbar-brand{
  margin: 0px;
}

.row{
  text-align: center;
  padding: 20px;
}

#bee-logo {
  height: 48px;
  width: 48px;
  margin-right: 10px;
  background-image: url("media/bee-logo.png");
  background-size: cover;
}

.hompage-container{
  position: relative;
}

.breadcrumb{
  background-color: white;
  margin: 0;
}

.service-card{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.service-card h3{
  text-align: center;
}

.service-icon{
  padding: 20px 0px;
}

.btn-primary {
  font-size: 1em;
  background-color: #7ad7ff;
  border: none;
  padding: 5px 15px;
  color: black;
  font-family: Helvetica;
  font-weight: lighter;
}

.btn-block{
  font-size: 1.5em;
  margin-top: 20px;
}

.btn-light{
  background-color: #f9f9f9;
}

.jumbotron{
  font-family: Helvetica;
  width: 60%;
  border-top: 5px solid #7ad7ff;
  padding-left: 20px;
  padding-right: 20px;
}

.homepage-jumbo{
  background: rgba(255, 255, 255, 0.7);
  float: left;
  position: absolute;
  top: 400px;
}

.contact-jumbo{
  width: 100%;
  padding: 20px;
}

.contact-jumbo p{
  font-size: 1em;
  text-align: left;
}

.homepage-jumbo p{
  font-size: 2em;
}

h1{
  font-size: 2.25em;
  font-weight: lighter;
  font-family: Helvetica;
  text-align: left;
}

h3{
  font-size: 1.5em;
  font-weight: lighter;
  font-family: Helvetica;
  text-align: left;
}

h4{
  font-size: 1.25em;
  font-weight: lighter;
  font-family: Helvetica;
  text-align: left;
}

.testimonial-block{
  text-align: center;
  padding: 10px 0px;
}

.testimonial-logo{
  display: inline-block;
  padding: 0px 50px;
  height: 100px;
  line-height: 100px;
}

.testimonial-logo img{
  width: 200px;
  vertical-align: middle;
}

.testimonial-quote{
  font-style: italic;
  font-size: 1.5em;
}

.assignment-link{
  padding-left: 20px;
  font-size: 4vw;
}

.display-4{
  font-size: 3vw;
}

.lead{
  font-size: 2.5vw;
}

.footer{
  background-color: #f9f9f9;
  border-top: 2px solid #7ad7ff;
  padding: 20px;
  clear: both;
  flex-shrink: 0;
}

.content {
  flex: 1 0 auto;
}

.text-block{
  padding: 20px;
}

.staff-card-left{
  width: 75%;
  background: #f9f9f9;
  overflow: auto;
  margin-top: 40px;
}


.staff-card-left h3{
  padding-top: 20px;
}

.staff-card-left p{
  font-size: 1em;
  padding: 20px;
  margin: 0;
}

.staff-card-left img{
  padding: 0;
  max-height: 256px;
  float: left;
  margin-right: 20px;
}

.staff-card-right{
  width: 75%;
  background: #f9f9f9;
  overflow: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  float: right;
}

.staff-card-right h3{
  padding-top: 20px;
  padding-left: 20px;
}

.staff-card-right h4{
  padding-left: 20px;
}

.staff-card-right p{
  font-size: 1em;
  padding: 20px;
  margin: 0;
}

.staff-card-right img{
  padding: 0;
  max-height: 256px;
  float: right;
  margin-left: 20px;
}

.service-block{
  padding: 40px;
}

.service-block p{
  text-align: left;
  font-size: 1em;
}

.service-block img{
  max-height: 128px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {

  .homepage-jumbo{
    display: none;
  }


}

@media only screen and (max-width: 800px) {

  video {
      width: 100%;
      height: auto;
  }

  .homepage-jumbo{
    padding: 0.75em;
  }

  .homepage-jumbo h3{
    font-size: 1.2em;
  }

  .homepage-testimonial{
    display: none;
  }
}

@media only screen and (max-width: 1200px) {

  .homepage-jumbo p{
    display: none;
  }

  .homepage-jumbo {
    top: 300px;
  }
}

@media only screen and (max-width: 1100px) {

  .staff-card-left{
    width: 100%;
  }

  .staff-card-left img{
    max-height: 198px;
  }

  .staff-card-right{
    width: 100%;
  }

  .staff-card-right img{
    max-height: 198px;
  }

  .testimonial-logo img{
    width: 150px;
  }
}
